/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', "Palatino Linotype", "Book Antiqua", serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
}

header {
    background: #2d3945;
    color: white;
    height: 90px; /* If adjusted, make sure to adjust the h1's height, too. */
    text-align: center;

}

h1 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 90px; /* Centers the headline in the header. Must be equal to the header's height. */
}

h2,
legend {
    font-size: 1.6rem;
}

p {
    font-size: 1.3rem;
}

hr {
    border: 2px solid black;
}

footer p {
    color: gray;
    font-style: italic;
    font-size: .8rem;
    text-align: center;
    margin: 30px auto 200px auto;
}

/* ================================= 
  Base Layout Styles
==================================== */
.intro {
    padding: 20px 0;
    text-align: center;
}

.double-hr {
    padding-top: 20px;
}

.double-hr hr:first-child {
    border: 4px solid black;
}

#zip-code {
    width: 50%;
    margin: 12px auto 25px 0;
}

fieldset {
    border: none;
}
.contact {
    padding-bottom: 20px;
}
.contact legend {
    font-weight: 700;
    padding-bottom: 25px;
}

label {
    text-align: left;
    display: block;
}

.desc-label {
    margin: 25px auto;
}

.inline-label {
    display: inline;
}

input[type=text],
input[type=email],
input[type=tel],
select {
    display: block;
    height: 56px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f2eff2;
    margin: 12px auto 25px auto;
    padding: 0 15px;
}

input::placeholder {
    opacity: 1;
    text-align: right;
    font-style: italic;
    color: #bebebe;
}

textarea::placeholder {
    opacity: 1;
    text-align: left;
    font-style: italic;
    color: #bebebe;
}

input:focus {
    box-shadow: 0 0 0 2px black;/* Use box-shadow instead of outline, because outline creates 0px border radius. */
}

/* Fakes Select dropdwon placeholder color */
select {
    color: gray;
}

/* Removes select placeholder color from non-placeholder options before actual valid selection. */
select option:not(.default) {
    color: black;
}

/* Removes select placeholder color from closed select box after selection is made. Select must have 'required' attribute for validation. */
select:valid {
    color: black;
}

.newsletter label:not(.desc-label) {
    padding-left: 10px;
}

#mid-hr {
    margin-bottom: 40px;
}

input[type=radio],
input[type=checkbox] {
    margin: 0 auto 20px auto;
}

textarea {
    display: block;
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f2eff2;
    padding: 5px;
    margin-bottom: 30px;
}

button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #4ebbb5;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

/* ================================= 
  Media Query
==================================== */

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 50%;
    }

    .contact input,
    .contact select {
        width: 75%;
        float: left;
    }

    #zip-code {
        width: 25%;
    }

    .contact label {
        width: 25%;
        float: left;
        margin-top: 28px;
        padding-right: 10px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}